<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <button (click)="clickBurguer()" mat-button class="menu-button">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="container d-flex justify-content-end align-items-end">

        <a class="navbar-brand text-success logo h1 align-self-center" href="#">
            KAPEK SHOP
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
            id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-center mx-lg-auto">
                    <li [ngClass]="urlItemActual == '/' ? 'item-seleccionado nav-item': 'nav-item'">
                        <a class="nav-link" routerLink="/">Principal</a>
                    </li>

                    <li *ngIf="comprobarUsuarioAdmin()"
                        [ngClass]="urlItemActual == '/tienda' ? 'item-seleccionado nav-item': 'nav-item'">
                        <a class="nav-link" routerLink="/tienda">Admin</a>
                    </li>
                    <li *ngIf="comprobarUsuario()" style="cursor: pointer;" class="nav-item">
                        <a class="nav-link" routerLink="/categorias">Categorias</a>
                    </li>
                    <li *ngIf="comprobarUsuario()" style="cursor: pointer;" class="nav-item">
                        <a class="nav-link" routerLink="/formDenuncia">Denuncias</a>
                    </li>
                    <li *ngIf="comprobarUsuario()" style="cursor: pointer;" class="nav-item">
                        <a class="nav-link" routerLink="/anuncios">Lo más relevante</a>
                    </li>

                    <li *ngIf="!token?.correo" class="nav-item">
                        <a class="nav-link" href="#" routerLink="/registrar-usuario">Registrarse</a>
                    </li>
                    <li *ngIf="!token?.correo" class="nav-item">
                        <a class="nav-link" href="#" routerLink="/inicio">Iniciar sesión</a>
                    </li>
                    <li *ngIf="token?.correo" class="nav-item">
                        <a class="nav-link" style="cursor: pointer;" (click)="cerrar()">Cerrar sesión</a>
                    </li>

                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                        <div class="input-group-text">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </div>
                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal"
                    data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark mr-2"></i>
                </a>
                <svg routerLink="/producto/lista-de-deseos/{{usuarioActual.idUsuario}}" style="cursor: pointer;"
                    xmlns="http://www.w3.org/2000/svg" matTooltip="Mis favoritos" width="21" height="21"
                    viewBox="0 0 576 512">
                    <path
                        d="M256 368C256 403.7 266.6 436.9 284.9 464.6L279.4 470.3C266.4 483.2 245.5 483.2 233.5 470.3L39.71 270.5C-16.22 212.5-13.23 116.6 49.7 62.68C103.6 15.73 186.5 24.72 236.5 75.67L256.4 96.64L275.4 75.67C325.4 24.72 407.3 15.73 463.2 62.68C506.1 100.1 520.7 157.6 507 208.7C484.3 198 458.8 192 432 192C334.8 192 256 270.8 256 368zM576 368C576 447.5 511.5 512 432 512C352.5 512 288 447.5 288 368C288 288.5 352.5 224 432 224C511.5 224 576 288.5 576 368zM476.7 324.7L416 385.4L387.3 356.7C381.1 350.4 370.9 350.4 364.7 356.7C358.4 362.9 358.4 373.1 364.7 379.3L404.7 419.3C410.9 425.6 421.1 425.6 427.3 419.3L499.3 347.3C505.6 341.1 505.6 330.9 499.3 324.7C493.1 318.4 482.9 318.4 476.7 324.7H476.7z" />
                </svg>
                <a *ngIf="comprobarUsuarioAdmin()" (click)="mensaje()"
                    class="nav-icon position-relative text-decoration-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" style="width: 20px; color:black" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
                    </svg>

                </a>
                <a class="nav-icon position-relative text-decoration-none" href="#">
                    <i class="fa fa-fw fa-user text-dark mr-3"></i>
                    <span>{{usuarioActual?.nombre}}</span>
                    <span
                        class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                </a>
            </div>
        </div>

    </div>
</nav>
<!-- Fin Header -->

<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-50 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ..." [(ngModel)]="busqueda">
                <button type="submit" class="input-group-text bg-success text-light" (click)="modalBuscar()">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>