<div class="card h-100 mt-2">
    <a href="#">
        <img src="../../../assets/moda.webp" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <ul class="list-unstyled d-flex justify-content-between">
            <li  >
                <i *ngFor="let item of estrellas"  class="text-warning fa fa-star"></i>
            </li>
            <li class="text-muted text-right">{{listarProducto.costo}}</li>
        </ul>
        <a href="#" class="h2 text-decoration-none text-dark">{{listarProducto.nombre}}</a>
        <p class="card-text">
            {{listarProducto.descripcion}}
        </p>
        <p class="text-muted">Reviews (24)</p> 
        <button style= "background-color:orange"
        mat-button color="white">Agregar al Carrito</button>
    </div>
    
</div>
