.card-producto {
    cursor: pointer;
    margin-bottom: 15px;
}
.descripcion {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.h-6 {
    margin-right: 5px;
}