
        <div class="izquierda">
  
          <!--<img *ngFor="let foto of producto.fotos; let i = index" (mouseenter)="seleccionarImagen(i)"
               class="imagen-izquierda"
               [class.seleccionada]="i==indiceSeleccionado"
               [src]="resolverFoto(foto.foto)" alt="Foto">-->
        </div>
        <div>
          <!--<img *ngIf="fotoSeleccionada" [src]="resolverFoto(fotoSeleccionada)" alt="">-->
        </div>
        <br>
        <h1 class="mat-display-2">{{producto.nombre}}</h1>
        <p>{{producto.descripcion}}</p>
        <strong>Precio</strong>
        <h1 class="mat-display-2">{{producto.precio}}</h1>
        <a routerLink="producto/detalle/:id" class="comprar" mat-raised-button color="primary">
          Seguir comprando
        </a>