<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo"> Lista Productos</span>  
         <button class="btn btn-success float-end" routerLink="/producto">Agregar Producto</button>
         <table class="table table-striped mt-3">
            
            <thead>
              <tr *ngFor="let producto of listarProductos" class="list-group-item-list-group">
                <td>{{producto.nombre}}</td>
                <td>{{producto.categoria}}</td>
                <td>{{producto.estado}}</td>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.ubicacion}}</td>
                <td>{{producto.costo}}</td>
                <td>
                  <a class="btn btn-secondary text-white" style="margin-left: auto; margin-right: 10px; margin-top: 2px; margin-bottom: 2px;">
                    
                    <i class="far fa-edit"></i>
                  </a>
                  <a class="btn btn-danger text-white" >
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
