<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" href="#">
            KAPEK SHOP
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
            id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <button mat-button [matMenuTriggerFor]="Categorias">Categorias</button>
                        <mat-menu #Categorias="matMenu" yPosition="below">
                            <button mat-menu-item>Electrónica</button>
                            <button mat-menu-item> Futuros Papás</button>
                        </mat-menu>
                    </li>
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                        <div class="input-group-text">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </div>
                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal"
                    data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark mr-2"></i>
                </a>
                <a class="nav-icon position-relative text-decoration-none" href="#">
                    <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                    <span
                        class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                </a>
                <a class="nav-icon position-relative text-decoration-none" href="#">
                    <i class="fa fa-fw fa-user text-dark mr-3"></i>
                    <span
                        class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                </a>
            </div>
        </div>

    </div>
</nav>
<!-- Fin Header -->

<!--inicio del formulario-->
<div class="container mt-5 mb-5 contenedor">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Formulario para agregar producto</h3>
                </div>
                <div class="card-body border border-info">
                    <div class="col-sm-20 col-lg-50">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="exampleFormControlInput1">Nombre Producto</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Nombre Producto">
                            </div>
                            <div class="col-12 mb-3">
                                <label for="exampleFormControlInput1">Categoría</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Categoría">
                            </div>
                            <div class="col-12 mb-3">
                                <label for="exampleFormControlInput1">Precio</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Precio">
                            </div>
                            <div class="col-12 mb-3">
                                <label for="exampleFormControlSelect1">Estado</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option value="">Seleccione una opción</option>
                                    <option>Nuevo</option>
                                    <option>Como Nuevo</option>
                                    <option>Buen Estado</option>
                                    <option>Aceptable</option>
                                </select>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="exampleFormControlInput1">Descripción</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Descripcion">
                            </div>
                            <div class="col-12 mb-3">
                                <label for="exampleFormControlFile1">Insertar imagen</label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>

                            <div class="col-12 mt-3">
                                <button type="button" class="btn btn-success  float-start">Guardar</button>

                                <button class="btn btn-secondary float-end" routerLink="/listar-productos">Regresar</button>
                            </div>