<div class="row">
    <div class="col-12">
        <!-- Mostrar una tabla con todas las denuncias recibidas -->
        <div class="card">
            <div class="card-header text-center">
                <h3 class="card-title">Denuncias</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Id denuncia</th>
                            <th>Usuario afectado</th>
                            <th>Usuario infractor</th>
                            <th>Producto</th>
                            <th>Asunto</th>
                            <th>Estado</th>
                            <th>Fecha</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let denuncia of denuncias">
                            <td>{{ denuncia.id }}</td>
                            <td>{{ denuncia.idUsuario }}</td>
                            <td>{{ denuncia.usuarioVendedor }}</td>
                            <td>{{ denuncia.producto }}</td>
                            <td>{{ denuncia.asunto }}</td>
                            <td>{{ denuncia.estado }}</td>
                            <td>{{ denuncia.fecha }}</td>
                            <td>{{ denuncia.descripcion }}</td>
                            <td>
                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn btn-danger" (click)="eliminarDenuncia(denuncia.id)">Desestimar</button>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <button class="btn btn-warning" (click)="tomarDenuncia()">Aceptar</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
    </div>
</div>